<div class="row banner mx-0 mt-0">
    <div class="col-12">
        <div class="text-center text-white">
            <h1 >Safe Neighbour</h1>
            <p>De ideale platform dat jouw buurt veilig houdt!</p>
            <a class="btn btn-primary w-25 border-none" asp-area="Identity" asp-page="/Account/Register">Start nu!</a>
        </div>
    </div>
</div>
<div class="container my-5">

    @* Cards *@
    <div class="row" data-spy="scroll">
        <div class="col-lg-4 col-12">
            <div class="card border-none mb-lg-0 mb-5">
                <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                <div class="card-body primary-bg text-center">
                    <h4 class="card-title">Communicatief</h4>
                    <p class="card-text test">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card border-none mb-lg-0 mb-5">
                <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                <div class="card-body primary-bg text-center">
                    <h4 class="card-title">Veilig</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card border-none mb-lg-0">
                <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                <div class="card-body primary-bg text-center">
                    <h4 class="card-title">Transparant</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    @* Hoe werkt het *@
    <div class="card mt-5 primary-bg border-none" id="HowItWorks">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2 class="card-title text-center font-weight-bold">Hoe werkt het?</h2>
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="row mt-lg-5 mt-0">
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="row mt-lg-5 mt-0">
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-4 col-12 mb-lg-0 mb-3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-lg-2 col-12 mb-lg-0 mb-4">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                </div>
            </div>

        </div>
    </div>

    @* Features *@
    <div class="row mt-lg-5 mt-3" id="Features">
        <div class="col-12">
             <h2 class="card-title text-center text-gradient font-weight-bold">Features</h2>
        </div>
        <div class="col-lg-7 col-12">
            <div class="card primary-bg border-none feature-cards">
                <div class="card-body">
                    <h4 class="card-title">Feature</h4>
                    <p class="card-text test">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                </div>
            </div>
        </div>
        <div class="offset-lg-5 offset-0 col-lg-7 col-12 mt-3">
            <div class="card primary-bg border-none feature-cards">
                <div class="card-body">
                    <h4 class="card-title">Feature</h4>
                    <p class="card-text test">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-12 mt-3">
            <div class="card primary-bg border-none feature-cards">
                <div class="card-body">
                    <h4 class="card-title">Feature</h4>
                    <p class="card-text test">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                </div>
            </div>
        </div>
        <div class="offset-lg-5 offset-0 col-lg-7 col-12 mt-3">
            <div class="card primary-bg border-none feature-cards">
                <div class="card-body">
                    <h4 class="card-title">Feature</h4>
                    <p class="card-text test">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                </div>
            </div>
        </div>
    </div>
</div>
