@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="background-height primary-bg">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>@ViewData["Title"]</h1>

                <p>Use this page to detail your site's privacy policy.</p>
            </div>
        </div>
    </div>
</div>

