<div class="background-height primary-bg">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 my-auto">
                <!--right side-->
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-lg-left text-center">Melding maken</h1>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-2">
                            <label for="inputTitle">Titel</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control input-underline" id="inputEmailAdress" placeholder="Emailadres">
                        </div>

                        <div class="col-2 mt-3">
                            <label for="inputDescription">Beschrijving</label>
                        </div>
                        <div class="col-10 mt-3">
                            <textarea type="text" class="form-control bg-transparent border-white bg-transparent" id="inputEmailAdress" placeholder="Emailadres"> </textarea>
                        </div>

                        <div class="col-6 mt-3">
                            <input type="file" id="myFile" name="filename">
                        </div>
                        <div class="col-6 mt-3 text-right">
                            <button type="submit" class="btn btn-secondary w-50">Posten</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
