@page
@model LoginModel
@{ ViewBag.Captcha = ViewData["Test"]; }

<div class="background-height primary-bg">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-lg-4 col-12 d-none d-lg-block">
                <!--left side-->
                <div class="card w-100 mt-5 border-bottom-0 border-left-0 border-top-0 border-white bg-transparent rounded-0 pr-3">
                    <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title text-center">Lorem ipsum</h1>
                        <p class="card-text text-center">Dolor sit amet, conseteur sadipiscing elitr, sed diam</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-12 my-auto">
                <!--right side-->
                <div class="row mt-5">
                    <div class="col-12">
                        <h1 class="text-lg-left text-center">Login</h1>
                    </div>
                    <div class="col-12">
                        <p class="text-lg-left text-center">
                            Vul hier je gegevens in om je account aan te maken.<br>
                            Nieuw gebruiker? <b><a class="hyperlink text-white" asp-area="Identity" asp-page="/Account/Register" alt="Nieuw gebruiker?">Klik hier!</a></b>
                        </p>
                    </div>
                    <div class="col-12">
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label asp-for="Input.Email" class="input-lable"></label>
                                    <input asp-for="Input.Email" class="form-control input-underline" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label asp-for="Input.Password" class="input-lable">Wachtwoord</label>
                                    <input asp-for="Input.Password" class="form-control input-underline" placeholder="Wachtwoord" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">

                                <!-- Login button -->
                                <button id="loginBtn" type="submit" class="btn btn-primary">Log in</button>

                            </div>

                            <!-- recaptcha widget-->

                            @if (ViewBag.Captcha == 1)
                            {
                <div id="re-login" class="g-recaptcha mb-3" data-sitekey="6Lc-9gsaAAAAAN8kVgxr7yeuPZIVQSX6W6O6kKgE"
                     data-callback=recaptcha_verificatieLogin>
                </div>}

                            <div class="form-group">
                                <p>
                                    <a class="hyperlink text-white" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                            </div>
                        </form>

                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }
                    <script type="text/javascript">
                        var loginBtn = document.querySelector('#loginBtn');
                            if ('@(ViewBag.Captcha)' === '1') {
                                loginBtn.setAttribute('disabled', true)

                                function recaptcha_verificatieLogin() {
                                    loginBtn.removeAttribute('disabled')
                                }
                            } else {
                                loginBtn.removeAttribute('disabled')
                            }
                    </script>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
